<div class="container-fluid bg-dark">
    <div class="row py-5">
        <footer class="bg-dark text-light text-center">
            Copyright &copy; 2021 by Huynh Van Phu
        </footer>
    </div>
</div>


<!-- jQuery -->
{{!-- <script src="/jquery/jquery-3.6.0.min.js"></script> --}}
<!-- Bootstrap JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<!-- Popper.js -->
<script src="/popper.js/dist/popper.min.js"></script>

<script src="/jquery/main.js"></script>

<script src="/jquery/assets/vendors/highlight.js"></script>

<script src="/jquery/assets/js/app.js"></script>