<div class="container">
    <div class="mt-5 mb-5 text-center">
        <p></p>
    </div>
    <ul class="step d-flex flex-nowrap">
        <li class="step-item {{checkout}}">
            <a href="#!" class="">Confirm picked items</a>
        </li>
        <li class="step-item {{billing}}">
            <a href="#!" class="">Input shipping info</a>
        </li>
        <li class="step-item {{payment}}">
            <a href="#!" class="">Make a payment</a>
        </li>
    </ul>
</div>