<div class="container my-5">
    <div class="row text-center py-5" style="color:grey; font-size: 2em;">
        <i class="fas fa-exclamation-triangle fa-5x"></i>
        <p>404 - Page not found</p>
        {{> errors}}
    </div>
</div>